
.container-fluid {
  text-align: center;
  align-content: center;
  margin-top: 9em;

}

.ml-3 {
  border-radius: 50%;
  max-width: 200px;
  height: auto;
  margin-right: 5em;
  margin-top: 2em;

}
.media-body{
  text-align: center;
  align-content: center;
  margin-top: 8em;
}

.bg-image {
  background-image: url('header background.jpeg'); 
  height:50vh;
  background-repeat:no-repeat; 
  background-position: center;
  background-size: cover;

}

