/* header */


#portrait {
  position: relative;
  display: flex;
  height: 70%;
  margin-top: 70px;
  border: 5px solid rgba(0, 128, 75, 0.486);
  float:right;
  box-align:right;
  margin-left: 120px;
  border-radius: 10%;
  
  
} 
  #fullname {
    text-align: center;
    margin-top:150px;
    position: absolute;
    margin-left: 100px;
    margin-left: 70px;
   
  }

 h1 {
   font-size: 60px;
 }

 h3 {
   font-size: 40px;
 }

  #map {
    height:50vh;
    background-repeat:no-repeat; 
    background-position: relative;
    background-size: cover;
    position: absolute;
    width: 100%;
  }



  .header{
    height: 50vh;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: none;

   
    
  }
  
 
  /* Navbar */

  .navbar-nav , nav {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 128, 75, 0.486);
  padding: 16px;
  font-size:  30px;
  margin:auto;
 
} 

/*---------------phone responsive---------------*/


@media only screen 
and (max-width: 768px)
and (min-device-width:576px) 
and (orientation: portrait) {
  
/* responsive banner*/

 /* #portrait {
  position: relative;
  margin-left: auto;
  display: block;
  padding-left: 30%;
  height: 45%;
  margin-top: 100px;
    
  } */
  
  #fullname {
    margin-left: 0px;
    text-align: left;
    margin-top: 40px;
    position: relative;
    margin-left: 10px;
  }
  
  h1{
  font-size: 50px;
  }

  h3 {
  font-size: 30px;
 }


 /* responsive navbar*/


 .navbar-nav , nav {
  color:rgb(165, 212, 194);
  }
 
#contact-parent{
  /*margin-left: 10%;
  margin-right: 10%;
  height: auto;*/
  display: flex;
  flex-wrap: wrap;
  flex:50%;
}

form {

flex-direction: column;
flex:50%;

}

#contactme {
  margin-left: 125px;
}

.column-nature {
  flex: 50%;


}
.row {
  flex-direction: column;
}

}
  

  body {
    background-color:rgb(165, 212, 194);
    opacity: 100%;
  }


  /* footer  */
  
  #footer {
    margin-top: 150px;
    text-align: center;
    color:rgb(12, 11, 5) ;
  
  }
  
  /* about */

  .wavy {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
     position: relative;
     text-align: center;
    }
    .wavy span {
      position: relative;
      display: inline-block;
      color: rgba(0, 128, 75, 0.486);
      font-size: 2em;
      text-transform: uppercase;
      animation: wavy 2s ease-in-out infinite;
      animation-delay: calc(0.1s * var(--i));
  }
  @keyframes wavy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  
  }

    
  
  #about {
    background-color: rgba(0, 128, 75, 0.486);
    margin-top: 40px;
    margin-left: auto;
    margin-right:auto;
    padding-top: 60px;
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom: 60px;
   font-size:25px;
   position:relative;
   animation: about 4s;
   text-align: justify;
  
  }
 
  
  @keyframes about {
  
    0% { opacity: 0; }
    100% { opacity: 1;}
  }
  
  /* table education layout*/
  
  .table-responsive {
    
   padding:20px;
   padding-top: 20x;
   animation: table 4s;
   margin: auto;
   table-layout: auto;
   display:flex;
   justify-content: center;
   justify-items: center; 
   align-items: center;
   flex-direction: center;
  }
  
  @keyframes table {
    0% { opacity: 0; }
    100% { opacity: 1;}
  
  }
  
  th, td {

    padding: 30px;
    text-align: center;
  }
  
  th i {
    padding-left: 40px ;
    padding-right: 20px;
  
  }
  
  ul {
    list-style: none ;
  }
  
  /* portfolio */
  
  .row { 
    background-color: rgba(0, 128, 75, 0.486);
    margin-top: 100px;
    margin-left: auto;
    margin-right:auto;
    height:fit-content;
    width:auto;
    position:relative;
    animation: about 4s;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

  }
  
  .column_nature{
    flex: 50%;
    padding:20px;
    

  
  }
  .column_nature:hover .content {
    opacity: 0.3;
  }
  
  .content {
    text-align: center;
  
  }

  
  /* contact form*/


 form {
  
  border:  10px rgb(202, 186, 93);
  border-radius: 10px;
  margin: 30px;
  border-style: outset;
  text-align:center;
  animation:contact 4s;
  width: fit-content;
  padding: 30px;
  flex-direction: row;
  margin-left: 40%;
  padding-right: 30px;
    
  }

  

#contactme {
  float:right;
  flex-direction: row;
  width: fit-content;
  margin-right: 25%;
  height: fit-content;
  padding: 30px;
  margin-top: 130px;
  border:  10px rgb(202, 186, 93);
  border-radius: 10px;
  border-style: outset;
  text-align:center;
  animation:contact 4s;
 
  
}

  @keyframes contact{
  
    0% { opacity: 0; }
    100% { opacity: 1;}
  }

.form-control {
  display: block;
  max-width: 95%;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
	outline:0;
	height:40px;
	width: fit-content;
  background-color:rgb(165, 212, 194);
  border: 3px solid rgba(0, 128, 75, 0.486);
  resize: none;
 
  }

  ::form-control{
    color: black;
    font-weight: 50;
    padding: 20px;
    background-color:rgb(165, 212, 194) ;
  }




button {
  background-color: rgb(165, 212, 194);
  border: 2px solid rgb(202, 186, 93);
  border-radius: 30px;
  border-style: double ;
  box-shadow:rgb(202, 186, 93) 4px 4px 0 0 ;
  color: black ;
  cursor: pointer;
  display: inline-block;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  touch-action: manipulation;
}

button:hover {
  background-color:rgb(202, 186, 93);
  box-shadow:rgb(165, 212, 194) 4px 4px 0 0 ;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

/*thank you*/

.vintage__container{
  text-align: center;
  font-family: 'Six Caps', sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  line-height: 1;
  margin: 0;
  position: relative;
}

.vintage__top {
  background: linear-gradient(rgb(202, 186, 93),rgb(240, 220, 200)) ;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-emphasis-color: transparent;
}

.vintage__bot {
  margin-top: 100px;
  text-shadow: 
    2px 1px rgb(85, 10, 0),
    4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15),
    8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25),
    12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35),
    16px 9px black,
    18px 10px black,
    20px 11px black,
    22px 12px black,
    24px 13px black,
    28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7),
    32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3),
    36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}





