

 h2{
   margin-top: 20%;
   font-weight: bold;
   font-size: 45px;
   color:white;
  
}

.subheading{
  color:#7a89b3;
}
  
h4{
  padding: 10px;
  color:white;
  
}
 .subheading{
   font-size: 30px;
  
}

.how-img 
{
    text-align: center;
    
}
.how-img img{
    width: 30%;
    margin: 10%;
}
.bg-image {
  
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover ;
 
    
   
}
  
  .header{
    height: 50vh;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: none;
    
  }
  body {
    background-image: url(grass.jpg) ;
  }

  
 
  /* ----------Navbar---------- */

  .navbar-nav , nav {
  text-align: center;
  display: flex;
  padding: 16px;
  font-size:  30px;
  margin:auto;
  background-color: #7a89b3;

} 

.nav-link{
  color:white;
}

nav {

  margin-top: 30px;
  
}

 
    
  /*----------about----------*/

  #hello {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 25px;
    color: #7a89b3;
  }
  


  #about {
   padding:20px;
   margin:auto;
   margin-top: 50px;
   font-size:20px;
   position:relative;
   animation: about 4s;
   text-align: justify;
   color: white;
  
  }
 
  
  @keyframes about {
  
    0% { opacity: 0; }
    100% { opacity: 1;}
  }
  
  /*----------table education layout----------*/
  
  .table-responsive {
    
  padding:20px;
   animation: table 4s;
   margin: auto;
   table-layout: auto;
   display:flex;
   justify-content: center;
   justify-items: center; 
   align-items: center;
   margin-top: 100px;
  }
  
  @keyframes table {
    0% { opacity: 0; }
    100% { opacity: 1;}
  
  }
  
  th, td {

    padding: 30px;
    text-align: center;
  
  }
  
  th i {
    padding-left: 40px ;
    padding-right: 20px;
  
  }
  
  ul {
    list-style: none ;
  }
  
  /*----------portfolio----------*/
  
  #row-port{ 
    
    margin-top: 100px;
    margin-left: auto;
    margin-right:auto;
    height:fit-content;
    width:auto;
    position:relative;
    animation: about 4s;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
  }
  
  .column_nature{
    flex: 50%;
    padding:20px;
  }
  .column_nature:hover .content {
    opacity: 0.3;
  }
  
  .content {
    text-align: center;
  }

  p {
    color:white;

  }

  
  /*----------contact form----------*/

  .container{ 
    animation: about 4s;
    width: fit-content;
  }

  #contact {
    background-color: rgba(0, 128, 75, 0.486);
    margin-top: 100px;
    margin-left: auto;
    margin-right:auto;
    height:fit-content;
    width:auto;
    padding-left: 20px;
    color: white;

  }


  h3 {
    color:#7a89b3;
    margin-top: 35px;
    font-size: 30px;
    padding-bottom: 30px;
   
    
  }
  h5  {
    color:#7a89b3;
    
    

  }

  #h4 {
    color:#7a89b3; 
    font-size: 30px;
  }

  label {
    font-weight: bold;
    font-size: 20px;
  }

#continf{
  padding-left: 60px;
}

  @keyframes contact{
  
    0% { opacity: 0; }
    100% { opacity: 1;}
  }

 

  .form-group{
    padding: 20px;
   
  }
 label {
   padding-bottom: 20px;

  }
  
  .form-control{
    color: black;
    padding: 20px;
    font-weight: 50;
    background-color:rgb(165, 212, 194) ;
    width:fit-content;
  }

  #h4 {
  margin-top: 20px;
  margin-left: 15px;
  }

button {
  background-color: rgb(165, 212, 194);
  border-radius: 30px;
  border-style: double ;
  color: black ;
  cursor: pointer;
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  touch-action: manipulation;
  margin-bottom: 20px;
  margin-left: 20px;
 
}

button:hover {

  box-shadow:rgb(165, 212, 194) 4px 4px 0 0 ;
  background-color: #7a89b3;
}



@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

 /*----------footer----------*/
  
 #footer {
  margin-top: 150px;
  text-align: center;

}






/*---------------phone responsive---------------*/


@media only screen 
and (max-width: 768px)
 {
  
/* responsive banner*/

.header {
  justify-content: flex-start ;
 
}

h2 {
  padding-right: 30px;
  font-size: 30px;
}

 /* responsive navbar*/


 .navbar-nav , nav {
  color:rgb(165, 212, 194);
  }

  .navbar-toggler {
  width:50%;
  float: none;
  margin: auto;
  }
  
/*responsive portfolio*/

h2, h4{
  margin-top: auto;
  margin-left: 20%;
}


.column-nature {
  flex: 50%;

}
button {
  min-width: 120px;
  padding: 0 25px;
}
}

@media  only screen 
and (max-width:768px) 
and (orientation: landscape) { 

  #fullname {
    margin-top: 30px;
    position: relative;
  }

  #portrait{
    margin-top: 80px;
  }

  .navbar-toggler {
    width:50%;
    float: none;
    
    }
  
    #continf {

      margin-left:10px;
      margin-top: auto;
    }
    
  
}
  